{% extends "base.html" %}

{% block content %}

	<h1>Until we meet again!</h1>

	<p>To reactivate your account <a href="{% url 'login' %}">log in</a> within the next 30 days.</p>

{% endblock content %}