{% block content %}

	<h1>Not your account?</h1>

	<p>
		Please confirm that you did not sign up for the Ulo account <b>{{username}}</b> with the email address <b>{{email}}</b>.
	</p>

	<p>
		To prevent further misuse of your email address, the account (including your email address) will be suspended from Ulo for 30 days. The account will be removed permanently following the suspension and your email address will be made available for use. Should you wish to create an account during the 30 day suspension visit our help desk.
	</p>

	<form method="post">
		{% csrf_token %}
		{{form}}
		<input type="submit" name="submit" value="This is not my account">
	</form>

	<a href="{% url 'home' %}">Cancel</a>

	<p>
		If this account does belong to you but you would like to deactivate it, visit your account <a href="{% url 'settings:account' %}">settings.</a>
	</p>

{% endblock content %}

