{% block content %}

	<h1>Your email address is no longer associated with an Ulo account</h1>

	<p>We could not find an account registered to your email address, to create an account <a href="{% url 'signup' %}">sign up</a>.</p>

	<h2>Why did I receieve an email from Ulo?</h2>
	<li>Another user may have entered your email address when creating an account.</li>
	<li>Your address was previously associated with an Ulo account.</li>

{% endblock content %}