{% block content %}

	<h1>Account Blocked</h1>

	<p>The account has been blocked and will be permanently removed in 30 days.</p>

	<h2>Why was my email address used?</h2>
	<p>When creating an account, another user may have entered your email address by mistake or was looking to engage in malicious activities. Your report will help identify misconduct on Ulo.</p>

{% endblock content %}