{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>Password reset</h1>
	<p>Your password must include a mix of letters, number or punctuation</p>

	<div>
		<img src="{{ src }}"> {{name}}
	</div>

	<form method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}
		<div>
			<h2>{{form.password1.label}}</h2>
			{{form.password1.errors}}
			{{form.password1}}
		</div>

		<div>
			<h2>{{form.password2.label}}</h2>
			{{form.password2.errors}}
			{{form.password2}}
		</div>

		<div>
			<input id="id_submit" name="submit" type="submit" value="Send">
		</div>
	</form>
{% endblock content %}