{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>We have sent you an email!</h1>

	<p>Follow the link in the email to reset your password.</p>
	<p>Don't forget to check your junk, spam and other folders if you cannot see the email.</p>

	<a href="{% url 'accounts:password_reset_email'%}">I didn't receive an email</a>
{% endblock content %}