{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
	{% if error %}<p>{% trans error %}</p>{% endif %}

	<img src="{{ src }}" >{{ name }}

	<form action="{% url 'accounts:password_reset_email' %}" method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}
		<input id="id_submit" name="submit" type="submit" value="Send">
		<input id="id_cancel" name="{{ cancel }}" type="submit" value="Cancel">
	</form>
{% endblock content %}