{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>Find your account</h1>

	{{ form.non_field_errors }}
	<form action="{% url 'accounts:user_account' %}" method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}
		<div>
			<p>{{ form.account.label }}</p>
			{{ form.account }}
		</div>
		<input id="id_submit" name="submit" type="submit" value="Search">
	</form>
{% endblock content %}