{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Post actions{% endblock title %}


{% block content %}

	<a href="{% url 'posts:post' post.pk %}">back to post</a>

	<div>{{ post.title }}</div>
	<img src="{% static post.upload0.url %}" style="width:200px; height:200px">

	<ul>
		<li><a href="#share">Share</a></li>
		<li><a href="#report">Report</a></li>
	</ul>

	<br><br>
	<div id="share">
		<h1>Share</h1>
	</div>
	<br><br>
	<div id="report">
		<h1>Report</h1>
		<form action="{% url 'posts:report' post.pk %}" method="post">
			{% csrf_token %}
			{{ form.post_id }}

			<div>
				<p>{{ form.report.errors }}</p>
				<p>{{ form.report.help_text }}</p>
				{{ form.report }}
			</div>

			<div>
				<p>{{ form.information.errors }}</p>
				<p>{{ form.information.help_text }}</p>
				{{ form.information }}
			</div>

		<input id="id_submit" name="submit" type="submit" value="Report">
	</form>
	</div>
	

{% endblock content %}