{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}All{% endblock title %}


{% block content %}

	{% for post in posts %}
		<div>
			<div>{{ post.title }}</div>
			<img src="{% static post.upload0.url %}" style="width:100px; height:100px" >
			<div>{{ post.vote0 }}</div>
			<div>{{ post.vote1 }}</div>
		</div>
		<br><br>
	{% endfor %}

{% endblock content %}

