{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Ulo{% endblock title %}


{% block content %}
	<h1>Post</h1>

	<p>U+1F601 &#x1F601;</p>

	<div>{{ post.title }}</div>
	<img src="{% static post.upload0.url %}" style="width:200px; height:200px">
	
	<form action="{% url 'posts:vote' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="post_id" value="{{ post.pk }}">
		<button type="submit" name="vote" value="{{vote0_value}}">{{ post.vote0 }}</button>
		<span>{{ votes.1 }}</span>
		<button type="submit" name="vote" value="{{vote1_value}}">{{ post.vote1 }}</button>
		<span>{{ votes.2 }}</span>

		<div>User Vote: {{ user_vote.0 }}</div>

	</form>


	<div>{{ post.user.name }}</div>
	<div>{{ post.user.username }}</div>

	<a id="sub" href="{% url 'posts:actions' post.pk %}">Post Actions</a>

	<div>
		<form id="comment_form" action="{% url 'comments:post' %}" method="post">
			{% csrf_token %}
			{{ form.http_referer }}

			<label>{{ form.text.label }}</label>
			{{ form.text }}
			<input name="post_id" type="hidden" value="{{post.pk}}">
			<input id="id_submit" disabled name="submit" type="submit" value="Comment">
		</form>
	</div>

	<div>{{ cvs }}</div>

	<div>
		{% for comment in comments %}
			<div><img src="{% static comment.user.picture.url %}"></div>
			<div>{{ comment.published|timesince }} ago</div>
			<div>{{ comment.user.username }}</div>
			<div>{{ comment.text }}</div>
			<form action="{% url 'comments:vote' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="comment_id" value="{{ comment.pk }}">
				<button type="submit" name="vote">Agree</button>
			</form>
			<div>User Comment Vote: {{ comment.vote.0 }}</div>
			<a href="{% url 'comments:report' comment.pk %}">Comment Actions</a>
			<br><br>
		{% endfor %}
	</div>


{% endblock content %}

{% block js_pg %}
  <!-- profile page javascript file -->
  <script src="{% static 'js/comments/comment.js' %}"></script>
{% endblock js_pg %}