{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Post Edit{% endblock title %}


{% block content %}

	<!-- Post Form -->
	<form id="post_edit_form" action="{% url 'posts:post_edit' pk %}" method="post" >
		<!-- cross site request forgery protection -->
		{% csrf_token %}

		{{ form.errors }}

		<!-- Required Fields -->
		<div>
 
			<div id="title_container">
				<label for="id_title">{{ form.title.label }}</label>
				{{ form.title }}
			</div>


		<!-- End Required Fields -->

		<!-- Optional Fields / Settings -->
		<div>
			<div id="category_container">
				<label for="id_category">{{ form.category.label }}</label>
				{{ form.category }}
			</div>
			<div id="tags_container">
				<label for="id_tags">{{ form.tags.label }}</label>
				{{ form.tags }}
			</div>
			<div id="description_container">
				<label for="id_category">{{ form.description.label }}</label>
				{{ form.description }}
			</div>
			<div id="comment_settings_container">
				<label for="id_comment_settings">{{ form.comment_settings.label }}</label>
				{{ form.comment_settings }}
			</div>

		</div>
		<!-- End Optional Fields / Settings -->

		<div id="submit_container">
			{{ form.password.label }}
			{{ form.password }}
			<input id="id_submit" name="submit" type="submit" value="Edit">
		</div>

	</form>
    <!-- END Post Form -->

{% endblock content %}

{% block js_pg %}
{% endblock js_pg %}