{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Ulo Post{% endblock title %}


{% block content %}
	
	<noscript>Enable Javascript to make a post!</noscript>

	<!-- Post Form -->
	<form id="post_form" action="{% url 'posts:form' %}" method="post" enctype="multipart/form-data">
		<!-- cross site request forgery protection -->
		{% csrf_token %}

		{{ form.errors }}

		<!-- Required Fields -->
		<div>
 
			<div id="title_container">
				<label for="id_title">{{ form.title.label }}</label>
				{{ form.title }}
			</div>

			<div id="upload0_container">
				<div id="upload_controls" class="equal_width"></div>      
				<div id="editor_content" class="ratio_container">
					<div class="ratio_spacer"></div>
					<div class="ratio">
						<div id="upload_target" class="equal_width"></div>
					</div>
				</div>
			</div>
			<label for="id_upload0">{{ form.upload0.label }}</label>
			

			<div id="votes_container">
				<div id="vote0_container">
					<label for="id_vote0">{{ form.vote0.label }}</label>
					{{ form.vote0}}
				</div>
				<div id="vote1_container">
					<label for="id_vote1">{{ form.vote1.label }}</label>
					{{ form.vote1}}
				</div>
			</div>

		</div>
		<!-- End Required Fields -->

		<!-- Optional Fields / Settings -->
		<div>
			<div id="category_container">
				<label for="id_category">{{ form.category.label }}</label>
				{{ form.category }}
			</div>
			<div id="tags_container">
				<label for="id_tags">{{ form.tags.label }}</label>
				{{ form.tags }}
			</div>
			<div id="description_container">
				<label for="id_category">{{ form.description.label }}</label>
				{{ form.description }}
			</div>
			<div id="comment_settings_container">
				<label for="id_comment_settings">{{ form.comment_settings.label }}</label>
				{{ form.comment_settings }}
			</div>

		</div>
		<!-- End Optional Fields / Settings -->

		{{ form.upload0 }}
		<div id="submit_container">
			<input id="id_submit" name="submit" type="button" value="Post">
		</div>

	</form>
    <!-- END Post Form -->

{% endblock content %}

{% block page_js %}
  <!-- profile page javascript file -->
  <script src="{% static 'js/posts/post_form.js' %}"></script>
{% endblock page_js %}
