{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Report{% endblock title %}


{% block content %}
	
	<h1>Thank you for your report</h1>
	
	<p>If we find the content to be in violation of our rules, we will take the necessary course of action.</p>

{% endblock content %}


