{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Report{% endblock title %}


{% block content %}
	
	{% firstof form.non_field_errors form.post_id.errors %}

	<form method="post">
		{% csrf_token %}
		{{ form.post_id }}

		<div>
			<p>{{ form.report.errors }}</p>
			<p>{{ form.report.help_text }}</p>
			{{ form.report }}
		</div>

		<div>
			<p>{{ form.information.errors }}</p>
			<p>{{ form.information.help_text }}</p>
			{{ form.information }}
		</div>

		<input id="id_submit" name="submit" type="submit" value="Report">
	</form>

{% endblock content %}

