{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Following {{ user_profile.username }}{% endblock title %}


{% block content %}
	<h1>Following</h1>

	
	{% for user in following %}
		<div>
			<a href="{% url 'users:profile' user.to_user.username %}">
				<img src="{{ user.to_user.picture.url }}">
			</a>
			<a href="{% url 'users:profile' user.to_user.username %}">
				{{ user.to_user.name }}
			</a>
			<a href="{% url 'users:profile' user.to_user.username %}">
				{{ user.to_user.username }}
			</a>
		</div>
	{% endfor %}

	{{ paginate }}

{% endblock content %}