{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Followers of {{ user_profile.username }}{% endblock title %}


{% block content %}
	<h1>Followers</h1>
	
	{% for user in followers %}
		<div>
			<a href="{% url 'users:profile' user.from_user.username %}">
				<img src="{{ user.from_user.picture.url }}">
			</a>
			<a href="{% url 'users:profile' user.from_user.username %}">
				{{ user.from_user.name }}
			</a>
			<a href="{% url 'users:profile' user.from_user.username %}">
				{{ user.from_user.username }}
			</a>
		</div>
	{% endfor %}

	{{ paginate }}

{% endblock content %}