{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Ulo Log In</title>
	<link href="{% static 'css/users/login.css' %}" rel="stylesheet" type="text/css">
{% endblock page_head %}


{% block content %}
<div id="login_form_wrapper">

	<div id="login_header">
		<h1 id="login_title">Welcome back</h1>
	</div>
	<div id="form_info">
	{% if form.non_field_errors %}
		<span class="error_icon"></span>
		<p class="nonfield">{{ form.non_field_errors.0 }}</p>
	{% endif %}
	</div>
	
	<form id="login_form" action="{% url 'login' %}{{ redirect_to }}" method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}
		{{ form.redirect_to }}
		
		<div id="email_container">
			{{ form.email }}
		</div>
		<div id="password_container">
			{{ form.password }}
			<a id="forgot" href="{% url 'accounts:user_account' %}">Forgot?</a>
		</div>

		<div id="buttons_container">
			<div id="remember_container">
				{{ form.remember }}
				<label for="id_remember">Remember me<label>
			</div>
			<div id="submit_container" class="cf">
				<input id="id_submit" name="submit" type="submit" value="Log in">
			</div>
		</div>

	</form>
</div>

<div id="login_footer">
	<p class="link_text">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</div>

{% endblock content %}

{% block page_js %}
	<script src="{% static 'js/users/login.js' %}"></script>
{% endblock page_js %}