{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Profile</title>
	<link href="{% static 'css/users/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock page_head %}

{% block content %}
	<h1>User Profile Page</h1>

	{{ connections }}

	{% if user.is_authenticated and user == user_profile %}
		<a id="edit_profile" href="{% url 'users:profile_update' %}">Edit Profile</a>
	{% else %}

		{% if is_following %}
			<form action="{% url 'users:unfollow' user_profile.pk %}" method="post">
		{% else %}
			<form action="{% url 'users:follow' user_profile.pk %}" method="post">
		{% endif %}
			{% csrf_token %}
			<input type="hidden" name="http_referer" value="{{request.path_info|default_if_none:""}}">
			<input type="submit" value="{% if is_following %}Unfollow{% else %}Follow{% endif %}">
		</form>
	{% endif %}

	
	<div>
		<img src="{{ user_profile.picture.url }}">
	</div>

	<div>
		<a href="{% url 'users:followers' user_profile.username %}">Followers {{ followers }}</a>
		<a href="{% url 'users:following' user_profile.username %}">Following {{ following }}</a>
	</div>
	<div>
		<p>{{ user_profile.name }}</p>
		<p>{{ user_profile.username }}</p>
	</div>
	<div>
		<p>{{ user_profile.location }}</p>
	</div>
	<div>
		<p>{{ user_profile.blurb }}</p>
	</div>


	<div class="flip-container">
		<div class="flipper">
			<div class="front">
				<div>
					<img src="{{ user_profile.picture.url }}">
				</div>

				<div>
					<p>{{ user_profile.name }}</p>
					<p>{{ user_profile.username }}</p>
				</div>
				<div>
					<p>{{ user_profile.location }}</p>
				</div>
				<div>
					<p>{{ user_profile.blurb }}</p>
				</div>
			</div>
			<div class="back">

				<form action="{% url 'users:profile_update' %}" method="post">
					<!-- cross site request forgery protection -->
					{% csrf_token %}

					<div>
						<label>{{ form.name.label }}</label>
						{{ form.name }}
						{{ form.name.errors }}
					</div>
					<div>
						<label>{{ form.blurb.label }}</label>
						{{ form.blurb }}
						{{ form.blurb.errors }}
					</div>
					<div>
						<label>{{ form.location.label }}</label>
						{{ form.location }}
						{{ form.location.errors }}
					</div>

					<div>
						<label>{{ form.dob.label }}</label>
						{{ form.dob }}
						{{ form.dob.errors }}
					</div>

					<input id="id_submit" name="submit" type="submit" value="Save Changes">
				</form>
			</div>
		</div>
	</div>


{% endblock content %}

{% block page_js %}
	<!-- profile page javascript file -->
	<script src="{% static 'js/users/profile.js' %}"></script>
{% endblock page_js %}