{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Profile Edit</title>
{% endblock page_head %}


{% block content %}
	<h1>Edit Profile Page</h1>

	{{ form.non_field_errors }}

	<a href="{% url 'users:profile' user.username %}">Back to profile</a>

	<form action="{% url 'users:profile_update' %}" method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}

		<div>
			<label>{{ form.blurb.label }}</label>
			{{ form.blurb }}
			{{ form.blurb.errors }}
		</div>
		<div>
			<label>{{ form.location.label }}</label>
			{{ form.location }}
			{{ form.location.errors }}
		</div>

		<div>
			<label>{{ form.dob.label }}</label>
			{{ form.dob.0 }}
			{{ form.dob.errors }}

		</div>

		<input id="id_submit" name="submit" type="submit" value="Save Changes">
	</form>

{% endblock content %}