{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Ulo Sign Up</title>
	<link href="{% static 'css/users/signup.css' %}" rel="stylesheet" type="text/css">
{% endblock page_head %}


{% block content %}
	<div id="signup_form_wrapper">

		<div id="signup_header">
			<h1 id="signup_title">Join Ulo</h1>
		</div>

		<div id="form_info">
		<span>It's free!</span>
		{% if form.non_field_errors %}
			<span class="icon error_icon"></span><!--
			--><p class="nonfield">{{ form.non_field_errors.0 }}</p>	
		{% endif %}
		</div>

		<form id="signup_form" action="{% url 'signup' %}" method="post">
			<!-- cross site request forgery protection -->
			{% csrf_token %}

			{{ form.d }}

			<div id="name_container">
				{{ form.name.errors }}
				<div>{{ form.name }}</div>
			</div>

			<div id="username_container">
				{{ form.name.errors }}
				<div id="username_field_container" class="">
					{{ form.username }}
					<span class="availability_text hide"></span>
					<span class="availability_icon"></span>
				</div>
			</div>

			<div id="email_container">
				{{ form.email.errors }}
				<div>{{ form.email }}</div>
			</div>

			<div id="password_container">
				{{ form.password.errors }}
				<div>{{ form.password }}</div>
			</div>

			<div id="select_fields">
				<div id="dob_container">
					<label class="dob_label" for="dob_select_container">{{ form.dob.label }}</label>
					<span class="private_icon"></span>
					<div id="dob_select_container">
						{{ form.dob.errors }}
						<div id="id_dob">{{ form.dob }}</div>
					</div>
				</div>

				<div id="gender_container">
					<label for="id_gender">{{ form.gender.label }}</label>
					<span class="private_icon"></span>
					<div id="gender_select_container">
						{{ form.gender.errors }}
						{{ form.gender }}
					</div>
				</div>
			</div>

			<div id="submit_container">
				<input id="id_submit" name="submit" type="submit" value="Sign Up">
			</div>
		</form>

		<div id="tc">
			<p class="tc_text">
				By joining SiteName, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a> including <a href="#">Cookie Use</a>
			</p>
		</div>

	</div>

{% endblock content %}

{% block page_js %}
	<script src="{% static 'js/users/signup.js' %}"></script>
{% endblock page_js %}

