{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Navigation{% endblock title %}


{% block content %}

	<ul>
		<li><a>Sign&nbsp;up</a></li>
		<li><a>Log&nbsp;in</a></li>
	</ul>

{% endblock content %}