{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Ulo Search</title>
	<link href="{% static 'css/generics/search.css' %}" rel="stylesheet" type="text/css">
{% endblock page_head %}

{% block content %}
	<div id="search_container" class="cf">
		
		<form id="search_form" action="{% url 'search' %}" method="get">
			<input id="search_input" class="box_border" type="search" name="q" autofocus="autofocus" value="{{ q }}" autocomplete="off">

			<span id="search_submit">
				<button id="id_submit" type="submit" ><span class="hide">Search</span></button>
			</span>
			<div id="search_suggestions" class="box_border"></div>
		</form>

		<div id="search_filters">
			<div id="filter_headings">
				<button id="filter_btn" type="button">Filters <span class="icon_down"></span></button>
			</div>
			<div id="options" class="hide">
				{{ filters.type_filter }}
				{{ filters.date_filter }}
				{{ filters.sort_filter }}
			</div>
		</div>


		<div id="results">
			{% for result in user_results %}
				<img src="{{ result.picture }}"><span>{% if result.pk in following %}FOLLOWING{% endif %}</span>
				<div>{{ result.name }}</div>
				<div>{{ result.username }}</div>

			{% endfor %}
			{% for result in post_results %}
				<h3>{{ result.title }}</h3>
				<div>
					<img src="{{ result.thumbnail }}">
				</div>
				<span>{{ result.name }}</span>
				<span>{{ result.username }}</span>
			{% endfor %}
		</div>

		<button>Show more</button>

	</div>


	

{% endblock content %}

{% block page_js %}
	<script src="{% static 'js/generics/search.js' %}"></script>
{% endblock page_js %}