{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Report{% endblock title %}


{% block content %}
	
	{% firstof form.non_field_errors form.comment_id.errors %}

	<form method="post">
		{% csrf_token %}
		{{ form.comment_id }}

		<div>{{ form.report.help_text }}</div>
		<div>{{ form.report }}</div>
		<input id="id_submit" name="submit" type="submit" value="Report">
	</form>

{% endblock content %}

