{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
  <h1>Account Settings</h1>

  {{ account_form.non_field_errors }}

  <form id="settings_form" action="{% url 'settings:account' %}" method="post">
      <!-- cross site request forgery protection -->
      {% csrf_token %}


      {{account_form.is_confirmed}}

      <div>
        {{ account_form.name.label }}
        {{ account_form.name }}
        {{ account_form.name.errors }}
      </div>

      <div>
        {{ account_form.username.label }}
        {{ account_form.username }}
        {{ account_form.username.errors }}
      </div>

      <div>
        {{ account_form.email.label }}
        {{ account_form.email }}
        {{ account_form.email.errors }}
        {% if not user.email_confirmed %}
          <p>Check your email to confirm your address</p>
          <a href="accounts:resend_verification">Resend Email Confirmation</a>
        {% endif %}
      </div>



      <div>
        {{ account_form.password.label }}
        {{ account_form.password }}
        {{ account_form.password.errors }}
        <input type="submit"  value="Save Changes">
      </div>
        
      </div>

    
  </form>

  <div>
    <a href="{% url 'settings:deactivate' %}">Deactivate Account</a>
  </div>
{% endblock content %}

