{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
  <h1>We are sad to see you go!</h1>

  <p>Remember, you can reactivate your account by logging in within 30 days. After 30 days your account will be removed permanently.</p>


  {{ account_form.non_field_errors }}

  <form id="settings_form" action="{% url 'settings:deactivate' %}" method="post">
      <!-- cross site request forgery protection -->
      {% csrf_token %}
     <input type="submit" name="submit" value="Deactivate">
     <input type="submit" name="cancel" value="Cancel">
  </form>
{% endblock content %}

