{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
  <h1>Notification Settings</h1>

  {% firstof notifications_form.non_field_errors notifications_form.errors notifications_form.success %}

  <form action="{% url 'settings:notifications' %}" method="post">
      <!-- cross site request forgery protection -->
      {% csrf_token %}

      <div>
        {{ notifications_form.is_active.label }}
        {{ notifications_form.is_active }}
      </div>
      <div>
        {{ notifications_form.is_verified.label }}
        {{ notifications_form.is_verified }}
      </div>
      <div>
        {{ notifications_form.email_confirmed.label }}
        {{ notifications_form.email_confirmed }}
      </div>
      <div>
        {{ notifications_form.block_type.label }}
        {{ notifications_form.block_type }}
      </div>
        <input type="submit"  value="Save Changes">
      </div>

    
  </form>
{% endblock content %}

