{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
  <h1>Password Settings</h1>

  {{ password_form.non_field_errors }}
  {% firstof password_form.new_password1.errors password_form.new_password2.errors password_form.password.errors %}

  <form action="{% url 'settings:password' %}" method="post">
      <!-- cross site request forgery protection -->
      {% csrf_token %}


      

      <div>
        {{ password_form.password.label }}
        {{ password_form.password }}
      </div>
      <div>
        <a href="{% url 'accounts:password_reset_email' %}">Forgotten your password?</a>
      </div>

      <div>
        {{ password_form.new_password1.label }}
        {{ password_form.new_password1 }}
      </div>

      <div>
        {{ password_form.new_password2.label }}
        {{ password_form.new_password2 }}
      </div>

        <input type="submit"  value="Change password">
      </div>

    
  </form>
{% endblock content %}

