/* Search page css file */
/* -------------------------------------------------------------------------- */

/* OVERRIDE BASE.JS NAV SEARCH CSS - FORCE NAV SEARCH */
#nav_search > #search_form > #search_input{
	display: none;
}

/* END OVERRIDE BASE.JS NAV SEARCH CSS - FORCE NAV SEARCH */

#search_container{
	padding: 25px;
	min-width: 270px; /* min-width is 320 (270 + left/right padding) */
	max-width: 1200px;
}
#search_container > #search_form, #search_filters{
	position: relative;
	z-index: 1;
	max-width: 575px;
}

#search_container > #search_form > #search_input{

	/* some of the properties are set by base.js #search_form > #search_input */
	z-index: 2;
	height: auto;
	line-height: 20px;
	font-size: 16px;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #C8BFBF;
	color: #5C6371;
}

#search_container > #search_form > #search_submit{
	z-index: 3;
	display: block;
	position: absolute;
	top: 5px; right: 0;
	width: 60px;
	height: 30px;
	border-left: 1px solid #eaeaea;
}
#search_container > #search_form #id_submit{
	position: relative;
	top: -5px;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: url("../../images/icons.png") no-repeat;
	background-position: 10px -40px;
}

#search_filters{
	position: relative;
	margin: 15px 0;
	z-index: 0;
}
#filter_headings{
	height: 25px;
	border-bottom: 1px solid #C8BFBF;
}
#filter_headings > button{
	border: none;
	height: 26px;
	padding: 0 0 5px;
	font-size: 14px;
	outline: none;
	background-color: #fff;
	border-bottom: 1px solid #C8BFBF;
}
#filter_headings > button:hover{
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#search_filters > #options.hide{
	display: none;
}
#search_filters > #options{
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #C8BFBF;
}
#search_filters > #options > ul{
	list-style: none;
	padding: 0;
	display: table-cell;
}
#search_filters > #options .heading > h4{
	margin: 0;
	padding: 5px 0;
	display: inline-block;
	font-size: 16px;
	font-family: 'gotham_mediumregular';
}
#search_filters > #options li{
	padding: 5px 0;
	width: 90px;
}
#search_filters > #options li:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #428E8E;
}
#search_filters > #options .active{
	color: #428E8E;
}

#search_filters > #options li.filter_disabled{
	color: #B8B8BC;
}
#search_filters > #options li.filter_disabled:hover{
	color: #B8B8BC;
	cursor: auto;
	text-decoration: none;
}

#search_filters .remove_filter{
	margin: 0 10px;
	border: none;
	outline: none;
	width: 16px;
	height: 16px;
}
#search_filters .remove_filter:hover{
	cursor: pointer;
}

/* AUTOCOMPLETE */
#search_container #search_suggestions{
	display: none;
	position: absolute;
	top: 35px;
	width: 100%;
	margin-right: 60px;
	padding-top: 5px;
	line-height: normal;
	border: 1px solid #eaeaea;
	background-color: #fff;
}
#search_container > #search_form #search_input{
	position: relative;
}
#search_container #search_suggestions.show{
	display: block;
}
/* END AUTOCOMPLETE */
