/* IMPORT FONTS */

/* -------------------------------------------------------------------------- */
@import url("fonts/font.css");


/* HTML5 GLOBAL RULES
/* -------------------------------------------------------------------------- */
article, aside, figure, footer, header, hgroup, menu, nav, 
section{ 
	display: block; 
}	


/* BASIC PAGE STRUCTIRE */
/* -------------------------------------------------------------------------- */
html, body{
	margin: 0 auto;
	padding: 0;
}
html{
	background-color: #fff;
	color: #5C6371; /* #343636; Dark grey */

	/* make 100% so document click events will always register on ios */
	height: 100%;
}
body{
	background-color: #fff;

	/* make 100% so document click events will always register on ios */
	min-height: 100%;
}
footer{
}
form{
	margin: 0px;
}


/* CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,	
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* NAV BAR */
/* -------------------------------------------------------------------------- */
/* Accessibility link to skip over the navigation menu */
#skip_nav{
	position: absolute;
	left: -9999em;
}

#content{
	display: block;
	margin: 50px auto;
	/* same values are applied to the #nav_bar */
	min-width: 320px;
	max-width: 1200px;

}

#email_confirmation{
	position: relative;
	margin: 60px auto -50px; /* -50 to offset #content margin */
	max-width: 600px;
	z-index: 9000;
	
}
#email_confirmation_form{
	margin: 0 25px;
	padding: 15px;
	border-radius: 4px;
	background-color: #eaeaea;
}
#email_confirmation_form > p{
	margin: 0;
	padding-bottom: 10px;
}


/* basic navigation bar structure */
#nav_container{
	position: fixed;
	z-index: 9999;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: red;
}
#nav_bar{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #008080;
	/* same values are applied to the #content */
	min-width: 320px;
	max-width: 1200px;	
}
#nav_menu{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 15px;
	list-style: none;
	line-height: 50px;
	display: table;
	table-layout: fixed;
}
.nav_cell{
	vertical-align: top;
	display: table-cell;
}
/* END basic navigation bar structure */

/* LOGO */
#nav_logo{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url("../images/icons.png") no-repeat;
	background-position: 5px -196px;
}
#nav_logo > a{
	display: inline-block;
	width: 50px;
	height: 50px;
}

/* SEARCH */
#nav_search{
	position: relative;
	padding: 0 10px;
}
/* search input field */
#search_form > #search_input{
	/* remove IOS rounded corners */
	-webkit-appearance: none;
	border-radius: 0;
	/* END remove IOS rounded corners */
	width: 100%;
	height: 30px;
	line-height: 28px;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 18px;
	color: #fff;
	background-color: #008080;
}
.search_box{
	display: none;
	/* place search button inside the input field */
	padding: 0 50px 0 0;
	margin-right: -50px;
	/* END search place button inside the input field */
}
/* END search input field */
/* open search on small screens using javascript */
#nav_search.open_search{
	position: absolute;
	z-index: 9998;
	left: 15px; right: 15px;
}
#nav_search.open_search > #search_form > #search_input{
	display: inline-block;
	/* add close button inside the input field */
	padding-left: 50px;
	/* END add close button inside the input field */
	background-color: #008080;
}
#nav_search.open_search > #search_form > #close_search{
	display: block;
}
/* END open search on small screens using javascript */
/* search buttons */
#nav_search > #search_form button{
	vertical-align: top;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
}
#nav_search > #search_form > #search_btn{
	background: url("../images/icons.png") no-repeat;
	background-position: -8px 1px;
}
#nav_search > #search_form > #close_search{
	position: absolute;
	top: 0; left: 10px; /* 10px same as #nav_search padding */
	background: url("../images/icons.png") no-repeat;
	background-position: -5px -115px;
}
/* END search buttons */


/* SEARCH SUGGESTIONS */
/* suggestions container */
#nav_search > #search_suggestions{
	display: none;
	position: absolute;
	left: 10px; right: 10px; /* container padding (#nav_search) */
	background-color: #fff;
	line-height: normal;
}
#nav_search > #search_suggestions.show, #nav_search.open_search #search_suggestions.show{
	display: block;
	border: 1px solid #eaeaea;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* suggestion lists */
#search_suggestions > .suggestions{
	margin: 0;
	padding: 5px 0;
	max-height: 250px;
	overflow: scroll;
	list-style: none;
	border-bottom: 1px solid #eaeaea;
}
/* search all links */
#search_suggestions > .search_all{
	padding: 0;
	margin: 0;
	list-style: none;
}
#search_suggestions > .search_all a{
	padding: 10px;
	border-bottom: 1px solid #eaeaea;
}
/* END search all links */
/* END suggestion lists */



/* suggestion items */
#search_suggestions li{
	overflow: hidden;
}
#search_suggestions li:hover{
	background-color: #eaeaea;
}
/* END suggestion items */

/* suggestion links */
#search_suggestions a{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 5px 10px;
	text-decoration: none;
	color: #5C6371;
}
#search_suggestions a > span{
	display: table-cell;
	vertical-align: top;
}
/* END suggestion links */

/* suggestion links images */
#search_suggestions .image, #search_suggestions img{
	height: 32px;
	width: 32px;
	padding-right: 10px;
}
#search_suggestions img{
	display: block;
	border:none;
	outline:none;
}
/* END suggestion links images */

/* suggestion links text */
#search_suggestions .text{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: auto; /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: 13px;
	line-height: 16px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
#search_suggestions .text > .name, #search_suggestions .text > .username{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}
#search_suggestions .text > .username{
	color: #a7a7a7;
}
/* END suggestion links text */
/* END SEARCH SUGGESTIONS */


/* NAV LINKS */
#nav_links{
	position: relative;
	text-align: right;
}
/* sub menu button */
#nav_sm_link{
	vertical-align: top;
	padding: 0 10px;
}
#nav_sm_btn{
	text-align: center;
	background: url("../images/icons.png") no-repeat;
	background-position: 5px -115px;
}
#nav_sm_link, #nav_sm_link > a{
	display: inline-block;
	width: 50px;
	height: 50px;
}

/* sub menu */
#nav_sm{
	position: absolute;
	top: 50px; right:0;
	width: 160px;
	background-color: #eaeaea;
}
#nav_sm > li{
	margin: 5px 0;
	line-height: 30px;
	text-align: left;
}
#nav_sm > li > a{
	vertical-align: top;
	display: inline-block;
	width: 140px;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 16px;
	font-family: 'helveticaneueregular', Helvetica, Arial, Verdana, sans-serif;
}
/* END sub menu */

@media all and (max-width: 720px){
	#nav_search > #search_suggestions.show{
		display: none;
	}
}
@media all and (min-width: 720px){
	/* open search */
	#nav_search > #search_form > #search_input{
		display: inline-block;
	}

	/* hide the sub menu button */
	#nav_sm_link{
		display: none;
	}
	/* display the sub menu as an inline menu */
	#nav_sm{
		display: inline-block;
		position: relative;
		top: 0;
		width: auto;
		background-color: #008080;
	}
	#nav_sm > li{
		margin: 0;
		line-height: 50px;
		text-align: center;
		display: inline-block;
	}
	#nav_sm > li > a{	
		/*
			the max width for each link must be lte:
			The smallest width (w) when links are displayed inline 
			** this width is determined by the media query - currently 720 **
			minus the nav menus left+right padding (mp) divided by the number 
			of nav elements (e) - currently search, logo, and links, divided by 
			the max number of links (l) currently signup and login when a user 
			is logged out, minus the left+right padding for each nav link 
			anchor (lp).
			((w - mp) / e) / l  -  lp
		*/
		width: auto;
		max-width: 90px;
		color: #fff;
	}
	/* END display the sub menu as an inline menu */
}




/* HELPERS */
/* -------------------------------------------------------------------------- */
.cloak {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Other Browsers */
  opacity: 0;
}
.dim{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  /* IE 5-7 */
  filter: alpha(opacity=30);
  /* Netscape */
  -moz-opacity: 0.3;
  /* Safari 1.x */
  -khtml-opacity: 0.3;
  /* Other Browsers */
  opacity: 0.3;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.hidden{
	visibility: hidden;
}
.box_border{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* disable double-tap-to-zoom for fast click response on mobile browsers */
a, button
{
	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */
}

img, canvas { 
/*	-ms-interpolation-mode: bicubic;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: optimizeQuality;
*/
}

/* Remove text/search cancel button
/* -------------------------------------------------------------------------- */
input[type=text]::-ms-clear {  display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width: 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


