/* Log in form basic structure */
/* -------------------------------------------------------------------------- */
#login_form_wrapper, #login_footer{
	margin: 0 auto;
	padding: 0;
	width: 320px;
	background-color: #eaeaea;
	overflow: hidden;
}
#login_form, #login_header, #buttons_container{
	margin: 20px auto;
	width: 290px;
}
#login_form input:focus{
	outline: none;
}
#login_form label{
	font-size: 14px;
}
#form_info{
	display: table;
	margin: 15px;
}
#form_info .nonfield{
	margin: 0;
	display: table-cell;
	vertical-align: top;
}
#form_info .error_icon{
	display: table-cell;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background: url("../../images/icons.png") no-repeat;
	background-position: -5px -206px;
}
/* END Log in form basic structure */
/* -------------------------------------------------------------------------- */


/* Email and Password container */
/* -------------------------------------------------------------------------- */
#login_form #email_container, #login_form #password_container{
	margin: 10px auto;	
}
/* END Email and Password container */
/* -------------------------------------------------------------------------- */


/* Email, Password and Log in button */
/* -------------------------------------------------------------------------- */
#login_form #id_email, #login_form #id_password, #login_form #id_submit{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	line-height: 26px;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
}
/* END Email, Password and Log in button */
/* -------------------------------------------------------------------------- */


/* Password field */
/* -------------------------------------------------------------------------- */
#login_form #password_container{
	position: relative;
}
#login_form #id_password{
	padding-right: 80px;
}
#login_form #forgot{
	position: absolute;
	display: block;
	height: 26px;
	line-height: 26px;
	width: 80px;
	top: 7px; right: 0;
	text-align: center;
	font-size: 13px;
	color: gray;
	text-decoration: none;
	border-left: 1px solid #eaeaea;
}
/* END Password field */
/* -------------------------------------------------------------------------- */


/* Remember field */
/* -------------------------------------------------------------------------- */
#login_form #remember_container{
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
}
#login_form #id_remember{
	width: 14px;
	height: 14px;
	margin: 0 auto;
	padding: 0;
}
#login_form #id_submit{
	float: left;
	width: 50%;
}
/* END Remember field */
/* -------------------------------------------------------------------------- */


/* Footer */
/* -------------------------------------------------------------------------- */
#login_footer{
	background-color: #9FCECF;
	text-align: center;
}
#login_footer .link_text{
	margin: 20px;
}
/* END Footer */
/* -------------------------------------------------------------------------- */

