


/* entire container, keeps perspective */
.flip-container {
	position:relative;
	width: 320px;
	height: 480px;
	-webkit-perspective:1000;
	-khtml-perspective:1000;
	-moz-perspective:1000;
	-ms-perspective:1000;
	-o-perspective:1000;
    perspective:1000;
    overflow: hidden;
}

/* flip speed goes here */
.flipper {
	position: relative;
	-webkit-transition: 0.6s;
	-khtml-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	-khtml-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-khtml-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-khtml-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip{
	-webkit-transform:rotateY(180deg);
	-khtml-transform:rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform: rotateY(180deg);
}


