{% extends "base.html" %}
{% load staticfiles i18n %}


{% block page_head %}
	<title>Page Not Found</title>
{% endblock page_head %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<h1>Ooops!!! 404</h1>
<h2>Page Not found</h2>

<p>This is not the page you were looking for.</p>
{% endblock content %}
