{# base html template #}

{% load staticfiles i18n %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- used by search engines -->
    <meta name="description" content="Share images, videos and opinion polls">
    <!-- search keywords -->
    <meta name="keywords" content="social, poll, polling, voting, video, image, picture, share, sharing">
    <!-- indicates if the search engine should add this page to their results -->
    <meta name="robots" content="follow">

    <meta name="author" content="ta">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Site wide CSS files -->
    {% block css %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    {% endblock css %}
    <!-- Page specific CSS/Meta data -->
    <span id="page_head">
        {% block page_head %}
            <title>{% block title %}Ulo{% endblock title %}</title>
        {% endblock page_head %}
    </span>

  </head>


  <body>
    <!-- Allow screen readers to jump over the navigation menu -->
    <a href="#content" data-ex title="Skip navigation" id="skip_nav">
      Skip navigation
    </a>
    <!-- End Allow screen readers to jump over the navigation menu -->

    <!-- navigation -->
    <header id="nav_container" class="cf" role="banner">
        <nav id="nav_bar" class="cf" role="navigation">
            <ul id="nav_menu" class="box_border">
                
                
                <li id="nav_search" class="nav_cell">
                    <form id="search_form" action="{% url 'search' %}" method="get">
                        <button id="close_search" class="hide" type="button">
                            <span class="hide">Close</span>
                        </button>
                        <input id="search_input" class="search_box hide box_border" type="search" name="q" autofocus="autofocus" value="{{ q }}" autocomplete="off"><!--
                        --><button id="search_btn" type="submit">
                            <span class="hide">Search</span>
                        </button>
                    </form>
                    <div id="search_suggestions" class=""></div>
                </li>

                <li id="nav_logo">
                    <a href="{% url 'home' %}" title="Home">
                        <span class="hide">Home</span>
                    </a>
                </li>
            
                <span id="nav_links" class="nav_cell">
                    
                    {% if user.is_authenticated %}
                        <li id="nav_sm_link">
                            <a id="nav_sm_btn" href="{% url 'navigation' %}" data-ex title="Profile and Settings" role="button">
                                <span class="hide">Profile and Settings</span>
                            </a>
                        </li>
                        <span id="nav_sm" class="hide">
                            <li>
                                <a href="{% url 'users:profile' user.username %}" title="Profile">
                                    Profile
                                </a>
                            </li><!--
                            --><li>
                                <a href="{% url 'settings:account' %}" title="Settings">
                                    Settings
                                </a>
                            </li><!--
                            --><li>
                                <a href="{% url 'logout' %}" title="Log out">
                                    Log&nbsp;out
                                </a>
                            </li>
                        </span>
                    {% else %}
                        <li id="nav_sm_link">
                            <a id="nav_sm_btn" href="{% url 'navigation' %}" data-ex title="Menu" role="button">
                                <span class="hide">Menu</span>
                            </a>
                        </li>
                        <span id="nav_sm" class="hide">
                            <li>
                                <a href="{% url 'signup' %}" title="Sign Up">
                                    Sign&nbsp;up
                                </a>
                            </li><!--
                            --><li>
                                <a href="{% url 'login' %}" title="Log in">
                                    Log&nbsp;in
                                </a>
                            </li>
                        </span>
                    {% endif %}
                </span>


            </ul>
        </nav>
    </header>
    <!-- END navigation -->

    
    <!-- notifications -->
    {% if messages %}
      <div>
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% if user.is_authenticated and not user.email_confirmed %}
        <div id="email_confirmation" class="box_sizing">
            <form id="email_confirmation_form" action="{% url 'accounts:resend_verification' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="http_referer" value="{{request.path_info|default_if_none:''}}">
                <p>
                    A confirmation message has been sent to <b>{{user.email}}</b>. Confirm your email address to complete your account registration.
                </p>
                <button form="email_confirmation_form" type="submit">
                    Resend Email Confirmation
                </button>
                <a href="{% url 'settings:account' %}">Change&nbsp;email&nbsp;address</a>
            </form>
        </div>
    {% endif %}
    <!-- END notifications -->

    <main role="main" id="content" class=""> 
        {% block content %}
        {% endblock content %}
    </main>
      
    <!-- Javascript
    ================================================== -->
    <!-- Site wide Javascript files -->
    {% block js %}
        <script src="{% static 'js/libraries/jquery-1.12.2.js' %}"></script>
        <script src="{% static 'js/polyfills/fastclick.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock js %}
    <!-- Page specific Javascript files -->
    <span id="page_js">
        {% block page_js %}
        {% endblock page_js %}
    </span>

  </body>
</html>
 
